<section class="assemble mt-10 pb-7">
    <div class="container">
        <div class="assemble-heading">
            <h2>Assemble your perfect integration out of thoroughly engineered building blocks</h2>
            <span class="heading-md">From individual API calls to end-to-end integration flows: you can choose and
                combine integration components to perfectly fit your application.</span>
        </div>
        <div class="gradient-wrapper">
            <ul class="building-blocks mt-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-1.svg" alt="puzzle-1">
                        <span>Data Sources</span>
                    </div>
                    <span>Read, write, and search data in external apps</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-2.svg" alt="puzzle-2">
                        <span>Data Events</span>
                    </div>
                    <span>Know when data changes in external apps.</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-3.svg" alt="puzzle-3">
                        <span>Field Mappings</span>
                    </div>
                    <span>Apply user-defined data transformations</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-4.svg" alt="puzzle-4">
                        <span>Object Links</span>
                    </div>
                    <span>Keep track of matching data objects</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-5.svg" alt="puzzle-5">
                        <span>Custom Fields</span>
                    </div>
                    <span>Deal with customer-specific application setups</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-6.svg" alt="puzzle-6">
                        <span>Monitoring</span>
                    </div>
                    <span>See when things break and why</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-7.svg" alt="puzzle-7">
                        <span>API Logs</span>
                    </div>
                    <span>See what exactly happens inside your integratios</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-8.svg" alt="puzzle-8">
                        <span>Unified Data Models</span>
                    </div>
                    <span>Work with data in a consistent way</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-9.svg" alt="puzzle-9">
                        <span>Data Schemas</span>
                    </div>
                    <span>Use custom data structures in integrations</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-2.svg" alt="puzzle-10">
                        <span>App Events</span>
                    </div>
                    <span>Trigger integrations on events in your app</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-8.svg" alt="puzzle-11">
                        <span>Flows</span>
                    </div>
                    <span>Multi-step integrations with branching and loops</span>
                </li>
                <li class="building-blocks__puzzle">
                    <div class="puzzle-heading">
                        <img src="./img/puzzle-10.svg" alt="puzzle-12">
                        <span>And more...</span>
                    </div>
                    <span>This most extensive integration API on the market</span>
                </li>
            </ul>
        </div>
    </div>
</section>