<section class="connect mt-7 pb-7">
    <div class="container">
        <div class="connect-heading">
            <h2>Connect to any third-party app on behalf of your customer</h2>
            <span class="heading-md">We leverage Al and our unique integration framework to help you integrate with any app that has an API,</span>
        </div>
        <div class="connect-advantages wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="connect-advantage">
                <p>Hundreds of the most popular connectors available out of the box.</p>
                <span>See <a href="#">list of connectors.</a></span>
            </div>
            <div class="connect-advantage connect-advantage__second">
                <p>Tens of thousands of niche apps available via <a href="#">Connector Builder</a></p>
            </div>
            <picture>
                <source media="(min-width:768px)" srcset="./img/iceberg.svg">
                <img draggable="false" src="./img/iceberg-mobile.png" alt="Flowers" style="width:100%">
            </picture>
        </div>
    </div>
</section>