<section class="demo mt-7 pb-7">
    <div class="container">
        <h1>Develop in-house customer-facing integrations in hours instead of weeks</h1>
        <div class="demo-actions mt-5">
            <button class="btn btn-gradient">
                Try For Free
            </button>
            <button class="btn btn-default">
                Read Documentation
            </button>
            <button class="btn btn-img">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.83331 3.33301V16.6663L16.6666 9.99967L5.83331 3.33301Z" stroke="white"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Watch Demo
            </button>
        </div>

        <div class="mt-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <img src="./img/screen1.jpg" draggable="false" alt="screen-app">
        </div>
    </div>
</section>